<section class="black">
  <div class="carousel carousel-slider" data-indicators="true">
    <div class="carousel-fixed-item">
      <div class="container">
        <h1 class="white-text">BeePlanner</h1>
        <h2 class="white-text"> Slogan</h2>
      </div>
    </div>
    <div class="carousel-item red lighten-2 white-text" href="#one!">
      <div class="container">
        <h2>First Slide</h2>
        <p class="white-text">Etiam porta sem malesuada magna mollis euismod.</p>
      </div>  
    </div>
    <div class="carousel-item amber darken-2 white-text" href="#two!">
      <div class="container">
        <h2>Second Slide</h2>
        <p class="white-text">Etiam porta sem malesuada magna mollis euismod.</p>
      </div>  
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <div class="container">
        <h2>Third Slide</h2>
        <p class="white-text">Etiam porta sem malesuada magna mollis euismod.</p>
      </div>  
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <div class="container">
        <h2>Fourth Slide</h2>
        <p class="white-text">Etiam porta sem malesuada magna mollis euismod.</p>
      </div>  
    </div>
  </div>
</section>

