  <div class="nav-fixed">
	<nav class="nav">
      <div class="nav-wrapper container">  
        <a href="index" class="brand-logo left">BeePlanner</a>
        <ul class="right">
          <li>
          	<a href="{{ url_for('home') }}" >
          		Home
          		<i class="material-icons left">home</i>
          	</a>
          </li>
          <li onclick="openModalOwn('profile');">
            {% if user != None %}
              <a>
            {% else %}
              <a href="{{ url_for('register') }}">
            {% endif %}
              {{ status_account }}
              <i class="material-icons left">{{ icon_account }}</i>
            </a>
          </li>
          <li>
          	<a href="{{ redirect_log }}">
          		{{ status_log }}
          	<i class="material-icons left">{{ icon_log }}</i>
        	</a>
        </li>
        </ul>
     </div>
  </nav>
  </div>
    {% if user != None %}

    <div id="profile" class="modal modal-profile" style="">
      <div class="modal-content">
        <div class="row" style="vertical-align: middle;">
          <div class="col s3"><i class="material-icons large left">account_circle</i></div>
          <div class="col s7"><h3>{{ user.name }} {{ user.lastname}}</h3></div>
          <div class="col s2"><i class="modal-close material-icons medium right">close</i></div>

        </div>        
        <div class="row"> 
          <div class="col s2"><i class="material-icons medium left">account_box</i></div>
          <div class="col s10"><h5> {{ user.username }}</h5></div> 
        </div>

        <div class="row">
          <div class="col s2"><i class="material-icons medium left">mail</i></div>
          <div class="col s10"><h5>{{ user.email }}</h5></div>
        </div> 

        <div class="row">
          <div class="col s2"><i class="material-icons medium left">phone</i></div>
          <div class="col s8"><h5><a href="#">{{ user.phone }}</a></h5></div> 
        </div> 
  </div>

  </div>
</div>
{% endif %}