{% extends "base-materialize.html" %}
{% block content %}
{% include "nav.html" %}
  <div class="row form-page">
      <div class="col s12 z-depth-6 card-panel">

        <form class="login-form">
          
          <div class="row">
            <div class=" input-field col s12">
              <i class="material-icons prefix">person</i>
              <input class="validate" id="name" name="name" type="text"  minlength="5">
              <label class="" for="name" data-error="wrong" data-success="right">name</label>
            </div>
          </div>
          
          <div class="row">
            <div class=" input-field col s12">
              <i class="material-icons prefix">person_outline</i>
              <input class="validate" id="last-name" name="last-name" type="text"  minlength="5">
              <label class="" for="last-name" data-error="wrong" data-success="right">last-name</label>
            </div>
          </div>
          
          <div class="row">
            <div class=" input-field col s12">
              <i class="material-icons prefix">phone</i>
              <input class="validate" id="phone" name="phone" type="tel" minlength="10">
              <label class="" for="phone" data-error="wrong" data-success="right">phone</label>
            </div>
          </div>

          <div class="row">
            <div class=" input-field col s12">
              <i class="material-icons prefix">mail</i>
              <input class="validate" id="email" name="email" type="email" minlength="5">
              <label class="" for="email" data-error="wrong" data-success="right">email</label>
            </div>
          </div>

          <div class="row">
            <div class=" input-field col s12">
              <i class="material-icons prefix">lock</i>
              <input class="validate" id="password" name="password" type="password" minlength="8">
              <label class="" for="password" data-error="wrong" data-success="right">password</label>
            </div>
          </div>
          
          <div class="row">
            <div class=" input-field col s12">
              <i class="material-icons prefix">lock_outline</i>
              <input class="validate" id="password-2" name="password-2" type="password" minlength="8">
              <label class="" for="password-2" data-error="wrong" data-success="right">repeat password</label>
            </div>
          </div>


          <div class="row" align="center">
            <input type="button" class="button" value="REGISTER">        
          </div>

          <div class="row">
            <div class="input-field col s8 m8 l12">
              <p class="margin medium-small font-grey">Do you already registered? <a href="index.html">Login Now!</a></p>
            </div>
          </div>

        </form>


      </div>
  </div>
{% endblock %}