<div class="row s12" align="center">
  <h2>Schedule</h2>
</div>
<div class="row calendar">
<div class="card-panel z-depth-3">
    <div class="row s12">
        <div class="col s2"><h4 class=""></h3></div>
        <div class="col s2"><h4 class="">Mon</h3></div>
        <div class="col s2"><h4 class="">Tue</h3></div>
        <div class="col s2"><h4 class="">Wed</h3></div>
        <div class="col s2"><h4 class="">Thu</h3></div>
        <div class="col s2"><h4 class="">Fri</h3></div>
    </div>
    <div class="row s1">
      <div class="col s2">
        <div class="hours" align="right">04:00</div>
        <div class="hours" align="right">05:00</div>
        <div class="hours" align="right">06:00</div>
        <div class="hours" align="right">07:00</div>
        <div class="hours" align="right">08:00</div>
        <div class="hours" align="right">09:00</div>
        <div class="hours" align="right">10:00</div>
        <div class="hours" align="right">11:00</div>
        <div class="hours" align="right">12:00</div>
        <div class="hours" align="right">13:00</div>
        <div class="hours" align="right">14:00</div>
        <div class="hours" align="right">15:00</div>
        <div class="hours" align="right">16:00</div>
        <div class="hours" align="right">17:00</div>
        <div class="hours" align="right">18:00</div>
        <div class="hours" align="right">19:00</div>
        <div class="hours" align="right">20:00</div>
        <div class="hours" align="right">21:00</div>
        <div class="hours" align="right">22:00</div>
        <div class="hours" align="right">23:00</div>
        <div class="hours" align="right">00:00</div>
      </div>

      <div class="row s2" name='monday'>
        <div class="col s2">
          <div class="calendar__day">
            {% with  color='lime lighten-1', modal_id='modal-1', trigger='trigger',
                            modal_title='title', content='Hello world'%}
                {% include 'pop-up.html'%}
            {% endwith%}

          </div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
        </div>
      <div class="row s2" name='monday'>
        <div class="col s2">
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
        </div>
      <div class="row s2" name='monday'>
        <div class="col s2">
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
        </div>
      <div class="row s2" name='monday'>
        <div class="col s2">
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
          <div class="calendar__day">Hello</div>
        </div>
      <div class="row s2" class=''>
        <div class="col s2">
          <div class="calendar__day friday">Hello</div>
          <div class="calendar__day friday">Hello</div>
          <div class="calendar__day friday">Hello</div>
          <div class="calendar__day friday">Hello</div>
          <div class="calendar__day friday">Hello</div>
          <div class="calendar__day friday">Hello</div>
          <div class="calendar__day friday">Hello</div>
          <div class="calendar__day friday">Hello</div>
          <div class="calendar__day friday">Hello</div>
          <div class="calendar__day friday">Hello</div>
          <div class="calendar__day friday">Hello</div>
          <div class="calendar__day friday">Hello</div>
          <div class="calendar__day friday">Hello</div>
          <div class="calendar__day friday">Hello</div>
          <div class="calendar__day friday">Hello</div>
          <div class="calendar__day friday">Hello</div>
          <div class="calendar__day friday">Hello</div>
          <div class="calendar__day friday">Hello</div>
          <div class="calendar__day friday">Hello</div>
          <div class="calendar__day friday">Hello</div>
          <div class="calendar__day friday">Hello</div>
        </div>
      </div>

    </div>

</div>

</div>